---
const {category} = Astro.props
---
<div class="card__wrapper">
  <div class="{`time-card ${category}`}" tabindex="0">
    <div class="card-upper">
      <div class="category">{category}</div>
      <a href="#" class="dots"><img src="/assets/icon-ellipsis.svg" alt=""></a>
    </div>
    <div class="card-lower">
      <div class="current-hrs">32hrs</div>
      <div class="previous-hrs">Last Week - 36hrs</div>
    </div>
  </div>
</div>

<style lang="scss">
  @use "../styles/base/breakpoint" as *;

  .card__wrapper {
    opacity: 0;
  }

  .time-card {
    background-color: var(--neutral-dark);
    color: #fff;
    border-radius: 1rem;
    padding: 2rem 1.5rem;
    width: 90vw;
    position: relative;
    margin-top: 2.2rem;
    box-shadow: 0 4px 80px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;

    @include breakpoint(large) {
      width: auto;
      min-width: 250px;
    }

    &:focus {
      box-shadow: 0 4px 80px rgba(0, 0, 0, 0.2), 0 0 0 2px white;
    }

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: hsl(236, 41%, 34%);

      &::after {
        transform: rotate(5deg) scale(0.9);
      }
    }

    &::after {
      content: '';
      background-repeat: no-repeat;
      background-position: right 5% top -25%;
      border-radius: 1rem;
      position: absolute;
      height: 100%;
      width: 100%;
      inset: 0;
      top: -2.2rem;
      z-index: -1;
      transition: transform 0.2s ease-in-out;

      @include breakpoint(large) {
        background-position: right 5% top -15%;
      }
    }

    &.work::after {
      background-color: var(--primary-orange);
      background-image: url('/assets/icon-work.svg');
    }

    &.play::after {
      background-color: var(--primary-cyan);
      background-image: url('/assets/icon-play.svg');
    }

    &.study::after {
      background-color: var(--primary-pink);
      background-image: url('/assets/icon-study.svg');
    }

    &.exercise::after {
      background-color: var(--primary-green);
      background-image: url('/assets/icon-exercise.svg');
      background-position: right 5% top -10%;
    }

    &.social::after {
      background-color: var(--primary-purple);
      background-image: url('/assets/icon-social.svg');
      background-position: right 5% top -50%;
    }

    &.self::after {
      background-color: var(--primary-yellow);
      background-image: url('/assets/icon-self-care.svg');
    }

    .card-upper,
    .card-lower {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include breakpoint(large) {
      .card-lower {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .card-upper {
      margin-bottom: 0.75rem;

      @include breakpoint(large) {
        margin-bottom: 1.5rem;
      }
    }

    .category {
      font-weight: 600;
      text-transform: capitalize;
    }

    .dots {
      padding: 0.5rem;
    }

    .current-hrs {
      font-size: 2rem;
      font-weight: 300;

      @include breakpoint(large) {
        font-size: 3rem;
        margin-bottom: 0.75rem;
      }
    }

    .previous-hrs {
      color: var(--neutral-pale)
    }
  }
</style>