---
const {title} = Astro.props
let subtitle = 'Time Tracking Dashboard'
---
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.png">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">

    <!-- global css -->
    <link rel="stylesheet" href={Astro.resolve('../styles/globals.css')} />

    <!-- open graph -->
    <meta property="og:title" content="Time Tracking Dashboard">
    <meta property="og:description" content="Front-end Mentor challenge Time Tracking Dashboard using CSS Grid, CSS Animations, Accessibility best practices and the JavaScript Fetch API to toggle between JSON Data.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://markteekman.github.io/time-tracking-dashboard/">
    <meta property="og:image" content="/assets/social-preview-image.png">

    <!-- page title -->
    <title>{title} - {subtitle}</title>
  </head>
  <body>

    <!-- main -->
    <main id="main-content">

      <slot />

    </main>

    <!-- footer -->
    <footer class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
      Coded by <a href="https://markteekman.nl">Mark Teekman</a>.
    </footer>

  </body>
</html>

<style lang="scss">
  @use "../styles/base/breakpoint" as *;

  body {
    display: grid;
    place-items: center;
    height: 100vh;

    .attribution {
      color: #d9d9d9;
      font-size: 0.9rem;
      height: 40px;
      margin-bottom: 1.5rem;

      @include breakpoint(large) {
        position: absolute;
        bottom: 1.5rem;
        margin: 0;
        height: auto;
      }
    }
  }
</style>